.right-side{
    min-height: 0px;
    max-width: 0%;
}
.row {
    min-height: inherit;
}

.main {
    margin-top: 0%;
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  