<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" ><img height="100"  src="assets/logo-home.png"  class="d-inline-block align-top" alt=""></a></mdb-navbar-brand>


   
       

  
  </mdb-navbar>
  
  <div>

    <img src="/assets/restaurant-banner.png" class="img-fluid" alt="Responsive image">
    </div>
    <h1 *ngIf="!expired" class="text-center mt-5 text-muli-light-26 text-grey-custom">Votre email a été confirmée. </h1>
    <h1 *ngIf="expired" class="text-center mt-5 text-muli-light-26 text-grey-custom">Votre email n'a pas été confirmée. </h1>
    <p *ngIf="!expired" class="mb-4 text-center text-muli-regular-18">Vous pouvez <a routerLink="/sender/signin" >se connecter </a> a votre compte et modifier vos informations </p>
    <p *ngIf="expired" class="mb-4 text-center text-muli-regular-18">Consulter votre boite mail pour essayer de nouveau</p>

    <footer class="page-footer font-small grey-back-color pt-4">

        <!-- Footer Elements -->
        <div class="container">
      
          <!-- Call to action -->
          <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
              <h5 class="mb-1 text-muli-extra-bold-24">DELIV'S</h5>
              <p class="text-muli-regular-18">Téléchargez gratuitement nos applications mobiles disponibles sur</p>
              <img src="assets/googleplay.jpg" class="img-fluid mr-1" alt="">
              <img src="assets/appstore.jpg" class="img-fluid" alt="">
              <ul class="list-unstyled ">
                 
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                      <a class="nav-link">
                        <mdb-icon class="mr-2" fab icon="twitter"></mdb-icon>
                        <mdb-icon class="mr-2" fab icon="google-plus"></mdb-icon>
                     
                            <mdb-icon class="mr-2" fab icon="linkedin"></mdb-icon>
                            
                      </a>
                    </li>
                    
                  </ul>
                </ul>
      
            </li>
           
          </ul>
          <!-- Call to action -->
      
        </div>
        <!-- Footer Elements -->
      
        <!-- Copyright -->
        <div class="footer text-center py-3 text-muli-regular-16">© 2018 Copyright:
          <a href="http://five-consulting.com/" class="text-grey-custom text-muli-semi-bold-16"> five-consulting</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      
    
