

<h2 class="h1-responsive text-center mb-3"> La liste des restaurants  </h2>

  <button type="button" class="btn btn-outline-primary waves-effect mb-3 " 
  routerLink="/admin/AjoutRestaurant" style="float: right"><mdb-icon far icon="plus-square"></mdb-icon>
</button> 


    <table class="table table-bordered table-responsive-md table-striped text-center">

            <tr>
                    <th class="text-center">Nom </th>
                    <th class="text-center ">Numéro du téléphone </th>
                   
                    <th class="text-center">email </th>

                     <th class="text-center" style="width: 40%">address </th>
                     <th class="text-center" >Active </th>
                     <th class="text-center" >Fermé </th>
                     <th class="text-center" style="width: 15%">Action </th>


                  </tr>
        
            <!--Card image-->
            
            <!--Card content-->
            
          
              <!--Title-->
              <tr *ngFor="let sender of senders" >
            <td>

                 {{sender.name}}
            </td>

        <td>
          
                <mdb-card-text >
              <p  >
                      {{sender.phoneNumber }}
              </p>
          
          
                </mdb-card-text>
              </td>
        <td>

       
                  {{sender.email }}
        
         
                </td>
               
                <td>

       
                        {{sender.address }}
              
               
                      </td>
                      <td>  <button *ngIf="sender.active" type="button" (click)="activeSender(sender,false)" class="btn btn-outline-primary" 
                        ><mdb-icon fas icon="times"></mdb-icon>
                      </button> 
                      <button *ngIf="!sender.active" type="button" (click)="activeSender(sender,true)" class="btn btn-outline-primary" 
                      ><mdb-icon fas icon="check"></mdb-icon>
                    </button> 
                    </td>
                      <td>    <button *ngIf="sender.closed" type="button" (click)="lockSender(sender,false)" class="btn btn-outline-primary" 
                        ><mdb-icon fas icon="lock-open"></mdb-icon>
                      </button> 
                      <button *ngIf="!sender.closed" type="button" (click)="lockSender(sender,true)" class="btn btn-outline-primary" 
                      ><mdb-icon fas icon="lock"></mdb-icon>
                    </button> 
                    </td>
                    <td>    <button type="button" class="btn btn-outline-primary waves-effect mr-2" 
                      routerLink="/admin/PageRestaurants/{{sender._id}}"><mdb-icon far icon="list-alt"></mdb-icon>
                    </button> 
                    <button type="button" class="btn btn-outline-primary" 
                    routerLink="/admin/ModifierRestaurant/{{sender._id}}"><mdb-icon far icon="edit"></mdb-icon>
                  </button> 
                  </td>
        </tr>
     
    </table>




