.main {
    margin-top: 0%;
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 10px; /* Increased text to enable scrolling */
    padding: 0px 10px;
   
    position: relative;
    min-height: 0%;

  }