<h2 class="h1-responsive text-center"> La liste des livraison  </h2>

    <table class="table table-bordered table-responsive-md table-striped text-center">

            <tr>
                    <th class="text-center">Nom et prenom</th>
                    <th class="text-center ">Date</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Total </th>
                    <th class="text-center">Gain </th>
                   <!--  <th class="text-center">Action </th> -->
                    
                  </tr>
        
            <!--Card image-->
            
            <!--Card content-->
            
          
              <!--Title-->
              <tr *ngFor="let delivery of deliveries" >
            <td>

                 {{delivery.recipient}}
            </td>

        <td>
          
                <mdb-card-text >
              <p  >
                      {{delivery.deliveryDate | date :'longDate' }}
              </p>
          
          
                </mdb-card-text>
              </td>
              <td>
                  {{status(delivery.status) }}
              </td>
              <td>
              <mdb-icon far icon="money-bill-alt"></mdb-icon>
                {{delivery.total}} DT
              </td>
              <td>
                  <mdb-icon far icon="money-bill-alt"></mdb-icon>
                 
                    {{change(delivery) }} DT
                  </td>
             <!--  <td>
                    <button *ngIf="delivery.status=='wait'" type="button" mdbBtn color="primary" rounded="true" size="sm" 
                    class="my-0" data-toggle="modal" data-target="#basicExample" (click)="selectedId=delivery._id;frame.show();valid=true" mdbWavesEffect >
                    <mdb-icon  far icon="thumbs-up"></mdb-icon>Valider</button>    
              </td> -->   
              
        </tr>
     
    </table>

  