<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" > <img height="100"  src="assets/logo-home.png"  class="d-inline-block align-top" alt=""></a></mdb-navbar-brand>
  <mdb-navbar-brand  class="title d-none d-lg-block">

      <div *ngIf="active" class="row">
          <div class="btn-group mx-auto" role="group" aria-label="Basic example">
            <button [class.btn-pink-custom]="router.url.search('waitlist')!==-1" [class.btn-pink-custom-outline]="router.url.search('waitlist')===-1" routerLink="/deliveryman/waitlist"  mdbBtn type="button" class=" text-muli-semi-bold-14  waves-light " mdbWavesEffect>Livraison en attente</button>
<!--               <button [class.btn-pink-custom]="router.url.search('demande')!==-1" [class.btn-pink-custom-outline]="router.url.search('demande')===-1" routerLink="/deliveryman/demande"  mdbBtn type="button" class=" text-muli-semi-bold-14  waves-light " mdbWavesEffect>Demande de livraison </button>
-->              <button [class.btn-pink-custom]="router.url.search('inprogress')!==-1" [class.btn-pink-custom-outline]="router.url.search('inprogress')===-1" routerLink="/deliveryman/inprogress"  mdbBtn type="button" class=" text-muli-semi-bold-14  waves-light " mdbWavesEffect>Livraison en cours </button>
            <button [class.btn-pink-custom]="router.url.search('history')!==-1" [class.btn-pink-custom-outline]="router.url.search('history')===-1" routerLink="/deliveryman/history" mdbBtn type="button" class=" text-muli-semi-bold-14 waves-light" mdbWavesEffect>history</button>
            </div>
        </div>
      </mdb-navbar-brand> 

 
     
 <!--    <h1 class="display-2 light-blue-text">Deliv's</h1>-->
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto ">
      
      <li class="d-none d-lg-block nav-item">
        <a [class.text-pink-custom]="router.url.search('account')!==-1" [class.text-grey-custom]="router.url.search('account')===-1"  class="nav-link waves-light" routerLink="/deliveryman/account" mdbWavesEffect><mdb-icon  size="2x" fas  icon="user-circle"></mdb-icon> </a>
      </li>
      <li class="d-none d-lg-block nav-item">
        <a (click)="logout()" class="nav-link waves-light text-grey-custom" mdbWavesEffect>
            <mdb-icon size="2x" fas icon="sign-out-alt"></mdb-icon></a>
      </li>
     

    </ul>
     <ul class="navbar-nav ml-auto d-block d-lg-none text-right">
      
        <li class="nav-item">
          <a [class.text-pink-custom]="router.url.search('account')!==-1" [class.text-grey-custom]="router.url.search('account')===-1"  class="nav-link waves-light" routerLink="/deliveryman/account" mdbWavesEffect>Profil </a>
        </li>
        <li *ngIf="active" class="nav-item">
       <a [class.text-pink-custom]="router.url.search('waitlist')!==-1" [class.text-grey-custom]="router.url.search('waitlist')===-1"  class="nav-link waves-light" routerLink="/deliveryman/waitlist" mdbWavesEffect>Livraison en attente </a>
       </li>
      <li *ngIf="active" class="nav-item">
     <a [class.text-pink-custom]="router.url.search('inprogress')!==-1" [class.text-grey-custom]="router.url.search('inprogress')===-1"  class="nav-link waves-light" routerLink="/deliveryman/inprogress" mdbWavesEffect>Livraison en cours </a>
     </li>
     <li *ngIf="active" class="nav-item">
      <a [class.text-pink-custom]="router.url.search('history')!==-1" [class.text-grey-custom]="router.url.search('history')===-1"  class="nav-link waves-light" routerLink="/deliveryman/history" mdbWavesEffect>Historique </a>
       </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link waves-light text-grey-custom" mdbWavesEffect>
              Se deconnecter</a>
        </li>
       
  
      </ul> 
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<div>

    <img src="/assets/livreur-banner.png" class="img-fluid mb-4" alt="Responsive image">
  </div>

<!--/.Navbar-->
