<p class="text-muli-light-26 text-grey-custom text-center">Commandes en attente</p>
<div *ngIf="deliveries.length>0"  class="row mt-5">
 
    <div *ngFor="let delivery of deliveries" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-5">
      
      
        <mdb-card>
            <!--Card image-->
            
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <p class="text-purple-lighter-custom text-muli-bold-16 text-center">Code : {{delivery._id | slice:-2}}{{delivery.object | slice:-2}}</p>
              </mdb-card-title>
              <mdb-card-title>
                <p class="text-purple-lighter-custom text-muli-bold-16 text-center">Commande pour {{delivery.recipient}}</p>
              </mdb-card-title>
              <mdb-card-text >
                  <p class="text-grey-darker-custom text-muli-bold-14 text-center"> {{delivery.deliveryDate | date:'medium' }} </p>
            </mdb-card-text>
              <mdb-card-text>
                <p class="text-muli-regular-16 text-grey-dark-custom text-center">Détails de la commade :</p>
                <p class="text-muli-semi-bold-16 text-purple-lighter-custom text-center" (click)="test.toggle()"><mdb-icon class="text-purple-lighter-custom" far icon="eye" ></mdb-icon> Voir</p>
              
                </mdb-card-text>

                <div mdbCollapse #test="bs-collapse">
                    <mdb-card-text *ngIf="delivery.object">
                 
                        <p class="text-muli-regular-18 text-grey-custom text-center" *ngFor="let item of delivery.description" >
                          {{item.quantity}} x {{item.product}}   ({{item.comment}} ) 
                        </p>
                      </mdb-card-text>
                          <mdb-card-text *ngIf="!delivery.object">
                                <p class="text-muli-regular-18 text-grey-custom text-center">{{delivery.description}}</p>
                          </mdb-card-text>
                </div>
             
          
          <mdb-card-text class="border-top border-bottom mb-2">
            <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">{{delivery.price}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span></p>
      </mdb-card-text>
            <!--   <a (click)="selectedId=delivery._id;frame.show();valid=true" mdbBtn class="text-muli-bold-16 btn-purple-light-custom-outline" mdbWavesEffect>Ajouter un livreur</a>
            -->
            <a *ngIf="delivery.status==='init'" style="padding: 5%;" (click)="confirm(delivery._id)" mdbBtn class="text-muli-bold-12 btn-purple-light-custom-outline" mdbWavesEffect>Confirmer</a>
            <a *ngIf="delivery.status==='init'" style="padding: 5%;" (click)="cancel(delivery._id)" mdbBtn class="text-muli-bold-12 btn-purple-light-custom-outline" mdbWavesEffect>Refuser</a>
            <mdb-card-title *ngIf="delivery.status!=='init'" >
              <p style="margin-bottom: 4%;" class="text-purple-lighter-custom text-muli-bold-16 text-center">en cours du recherche Livreur</p>
            </mdb-card-title>
            </mdb-card-body>
          </mdb-card>
    </div>
 
 
</div>
<div *ngIf="deliveries.length===0" >
    
    <p class="text-muli-light-26 text-grey-custom text-center">Pas des commandes en attente! 
        Merci!</p>
      
  </div>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header align-middle">
        <p class="modal-title text-muli-bold-24 text-grey-darker-custom mx-auto" id="myModalLabel">Choisir un livreur</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <app-google (messageEvent)="affect($event)" *ngIf="valid" [type]="true" [value]="deliveryMen"  [parent]="this" ></app-google>


      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" mdbBtn class="text-muli-bold-18 btn-purple-light-custom mx-auto" mdbWavesEffect data-dismiss="modal" (click)="frame.hide();valid=false">Annuler</button>
      </div>
    </div>
  </div>
</div>
