<footer class="page-footer font-small grey-back-color pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1 text-muli-extra-bold-24">DELIV'S</h5>
        <p class="text-muli-regular-18">Téléchargez gratuitement nos applications mobiles disponibles sur</p>
        <img src="assets/googleplay.jpg" class="img-fluid mr-1" alt="">
        <img src="assets/appstore.jpg" class="img-fluid" alt="">
        <ul class="list-unstyled ">
           
          <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item">
                <a class="nav-link">
                  <mdb-icon class="mr-2" fab icon="twitter"></mdb-icon>
                  <mdb-icon class="mr-2" fab icon="google-plus"></mdb-icon>
               
                      <mdb-icon class="mr-2" fab icon="linkedin"></mdb-icon>
                      
                </a>
              </li>
              
            </ul>
          </ul>

      </li>
     
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer text-center py-3 text-muli-regular-16">© 2018 Copyright:
    <a href="http://five-consulting.com/" class="text-grey-custom text-muli-semi-bold-16"> five-consulting</a>
  </div>
  <!-- Copyright -->

</footer>

