.nav-item .nav-link{
    color: white!important;
}
.sideP{
    font-size: x-large ;
    margin-bottom: 0px;
}

ul {
    width: 100%;
    height: inherit;
  
}
 ul li{
    border-bottom: 1px solid white;
}
.test{
    height: 100%;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   
    overflow-x: hidden;
    padding-top: 5px;
      padding-bottom: 100px;

  }