.title{
  width: 100%;
  text-align: center !important;
  float: right;
}
.list-group{
  float: right;
  border:none ;
}
.list-group-item {
  border:none ;
  padding: 0rem 1.25rem;
}
.btn-group .btn{
  border-radius: 20rem
}
.btn-group{
  width: 80%;
  box-shadow: none;
}
.btn-group > button{
  box-shadow: none;
}
.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn:not(:last-child), .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
