
  <header  class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-xl navbar-light " [containerInside]="false">
    
          <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" ><img height="100"  src="assets/logo-home.png"  class="d-inline-block align-top" alt=""></a></mdb-navbar-brand>
    <mdb-navbar-brand class="title d-none d-xl-block ">

        <div class="row">
            <div class="btn-group mx-auto" role="group" aria-label="Basic example">
              <button [class.btn-purple-light-custom]="router.url.search('waitList')!==-1" [class.btn-purple-light-custom-outline]="router.url.search('waitList')===-1" routerLink="/MS10/exemple3"  mdbBtn type="button" class=" text-muli-semi-bold-14  waves-light " mdbWavesEffect>Livraison en attente</button>
              <button [class.btn-purple-light-custom]="router.url.search('inprogress')!==-1" [class.btn-purple-light-custom-outline]="router.url.search('inprogress')===-1" routerLink="/MS10/exemple1"  mdbBtn type="button" class=" text-muli-semi-bold-14  waves-light " mdbWavesEffect>Livraison en cours </button>
              <button [class.btn-purple-light-custom]="router.url.search('history')!==-1" [class.btn-purple-light-custom-outline]="router.url.search('history')===-1" routerLink="/MS10/exemple2" mdbBtn type="button" class=" text-muli-semi-bold-14 waves-light" mdbWavesEffect>Historique</button>
              </div>
          </div>
        </mdb-navbar-brand> 
       
                    
          <links>

          


            <ul class="navbar-nav ml-auto">
        
              <li class="d-none d-xl-block nav-item">
                <a  [class.text-purple-lighter-custom]="router.url.search('account')!==-1" [class.text-grey-custom]="router.url.search('account')===-1" routerLink="/restaurant/account" class="nav-link waves-light " mdbWavesEffect><mdb-icon  size="2x" fas  icon="user-circle"></mdb-icon> </a>
              </li>
              <li class=" d-none d-xl-block nav-item">
                  <a (click)="logout()" class="nav-link waves-light text-grey-custom " mdbWavesEffect>
                      <mdb-icon size="2x" fas icon="sign-out-alt"></mdb-icon></a>
                </li>
             
        
            </ul>
            <ul class="d-block d-xl-none navbar-nav ml-auto text-right">
        
              <li class=" nav-item">
                <a  [class.text-purple-lighter-custom]="router.url.search('account')!==-1"
                 [class.text-grey-custom]="router.url.search('account')===-1" routerLink="/restaurant/account" class="nav-link waves-light "
                  mdbWavesEffect>Profil </a>
              </li>
              <li class=" nav-item">
                <a  [class.text-purple-lighter-custom]="router.url.search('waitList')!==-1"
                 [class.text-grey-custom]="router.url.search('waitList')===-1" routerLink="/restaurant/waitList" class="nav-link waves-light "
                  mdbWavesEffect>Livraison en attente </a>
              </li>
              <li class=" nav-item">
                <a  [class.text-purple-lighter-custom]="router.url.search('inprogress')!==-1"
                 [class.text-grey-custom]="router.url.search('inprogress')===-1" routerLink="/restaurant/inprogress" class="nav-link waves-light "
                  mdbWavesEffect>Livraison en cours </a>
              </li>
              <li class=" nav-item">
                <a  [class.text-purple-lighter-custom]="router.url.search('history')!==-1"
                 [class.text-grey-custom]="router.url.search('history')===-1" routerLink="/restaurant/history" class="nav-link waves-light "
                  mdbWavesEffect>Historique </a>
              </li>
              <li class="nav-item">
                  <a (click)="logout()" class="nav-link waves-light text-grey-custom " mdbWavesEffect>
                      Se deconnecter</a>
                </li>
             
        
            </ul>
          </links>
          
      </mdb-navbar>
    <!-- Main -->
  
    <!-- /.Main -->
  </header>
  <!--Main Navigation-->
  <div >
    <img src="/assets/restaurant-banner.png" class="img-fluid mb-4" alt="Responsive image">
  </div>
  
 
 
