
<div class="main">

<h3 class="text-center mb-3"><mdb-icon fas icon="utensils"></mdb-icon>    Modifier un Restaurant </h3>
<form #form="ngForm">
<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="md-form mt-3">
      <input  required #name="ngModel" [(ngModel)]="sender.name" name="name" mdbInput type="text" id="name" class="form-control">
      <label for="name" class="">Nom </label>
      <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
          Nom Obligatoire
        </mdb-error>
</div>
</div>



<!-- <div class="col-md-6">
<div class="md-form mt-3">
    <input required #rib="ngModel" minlength="20" maxlength="20" pattern="[0-9]{20,20}$" [(ngModel)]="sender.rib" name="rib" mdbInput type="text" id="rib" class="form-control">
    <label for="rib" class=""><mdb-icon fas icon="money-check-alt"></mdb-icon>   RIB</label>
    <mdb-error *ngIf="rib.invalid && (rib.dirty || rib.touched)">
        RIB Obligatoire
      </mdb-error>
</div>
</div> -->

<div class="col-md-6">
  <!-- Material input -->
  <div class="md-form mt-3">
      <input required minlength="8" maxlength="8" pattern="[0-9]{8,8}$" #phoneNumber="ngModel" [(ngModel)]="sender.phoneNumber" name="phoneNumber" mdbInput type="text" id="phoneNumber" class="form-control">
      <label for="phoneNumber" class=""><mdb-icon fas icon="phone-volume"></mdb-icon>   Téléphone</label>
      <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
          Téléphone Obligatoire
        </mdb-error>
  </div>
  </div>
  <div class="col-md-6">
    <!-- Material input -->
    <div class="md-form mt-3">
        <input  required #address="ngModel" [(ngModel)]="sender.address" name="address" mdbInput type="text" id="address" class="form-control" >
        <label for="address"><mdb-icon fas icon="map-marked-alt"></mdb-icon>   Addresse</label>
        <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
            Address Obligatoire
          </mdb-error>
    </div>
  </div>
  </div>

  <h4><mdb-icon fas icon="hamburger"></mdb-icon>   Ajouter Produit  <a (click)="addProduct()" style="float: right" ><mdb-icon far icon="plus-square"></mdb-icon></a></h4>
            <br>
              <!-- Grid row -->
    <div class="row" *ngFor="let product of sender.menu">
        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-3">
              <input required #productname="ngModel"  [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" mdbInput type="text"  class="form-control">
              <label class="">Désignation</label>
              <mdb-error *ngIf="productname.invalid && (productname.dirty || productname.touched)">
                  Désignation Obligatoire
                </mdb-error>
              
          </div>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4">
          <!-- Material input -->
          <div class="md-form mt-3">
              <input required #productdesciption="ngModel"  [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}" mdbInput type="text"  class="form-control">
              <label class=""><mdb-icon fas icon="pencil-alt"></mdb-icon>   Description</label>
              <mdb-error *ngIf="productdesciption.invalid && (productdesciption.dirty || productdesciption.touched)">
                  Description Obligatoire
                </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
        <div class="col-md-2">
          <!-- Material input -->
          <div class="md-form mt-3">
              <input required #productprice="ngModel"  pattern="[0-9.]*$" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" mdbInput type="text" class="form-control">
              <label  class=""><mdb-icon fas icon="dollar-sign"></mdb-icon>   Prix</label>
              <mdb-error *ngIf="productprice.invalid && (productprice.dirty || productprice.touched)">
                  Prix Invalide
                </mdb-error>
          </div>
        </div>
           <!-- Grid column -->
           <div class="col-md-3">
            <!-- Material input -->
            <div class="md-form mt-3">
              <select class="browser-default custom-select"  [(ngModel)]="product.category" name="category" >
                <option selected>choisisez une categorie</option>
                <option *ngFor="let category of categories" value="{{category._id}}">{{category.categoryName}}</option>
              
              </select>
              
            </div>
          </div>
          <!-- Grid column -->
      </div>
      <div class="col-md-3 justify-content-right">
      <button mdbBtn [class.disabled]="form.invalid" (click)="updateSender()" color="info" block="true" class="my-4" type="submit">Valider</button>
    </div>
  </form>
</div>