.main {
    margin-top: 0%;
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 50px; /* Increased text to enable scrolling */
    padding: 0px 10px;
   
    position:0%;
    min-height: 10%;

  }