<div *ngIf="!type" class="container">
                       
    <!--     <div class="form-group">
          <label>Enter address</label>
          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div> -->
       
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [streetViewControl]="false" (mapClick)="mapClicked($event)">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" [label]="'R'"
            (dragEnd)="markerDragEnd($event)">
            <agm-info-window>
                <strong>{{address}}</strong>
              </agm-info-window>
        </agm-marker>
        </agm-map>
    
      </div>
      <div *ngIf="type" class="container">
    
           
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [streetViewControl]="false" >
                <agm-marker [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="false" [label]="'P'">
                <agm-info-window>
                    <strong>Votre position</strong>
                  </agm-info-window>
            </agm-marker>
              <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="false" [label]="m.label"
              (markerClick)="clickedMarker(infowindow)">
                <agm-info-window *ngIf="m.item" #infowindow>
                  <div *ngIf="m.item" >
                      <strong >{{m.item.firstName}} {{m.item.lastName}}</strong>
                      <p style="text-align: center;" >
                        <a class="text-purple-lighter-custom text-muli-regular-14" (click)="sendMessage(m.item._id)">choisir</a>
                      </p>
                  </div>
                 
                </agm-info-window>
            </agm-marker>
            <agm-polyline  [strokeColor]="'#2196f3'">
                <ng-container *ngFor="let m of markers">
                <agm-polyline-point  *ngIf="!m.item"  [latitude]="m.lat" [longitude]="m.lng">
                </agm-polyline-point>
            </ng-container>
            </agm-polyline>
            </agm-map>
    
          </div>
    