<h2 class="h1-responsive text-center mb-3"> La liste des categories  </h2>

  <button type="button" (click)="addframe.show()" class="btn btn-outline-primary waves-effect mb-3 " 
  style="float: right"><mdb-icon far icon="plus-square"></mdb-icon>
</button> 


    <table class="table table-bordered table-responsive-md table-striped text-center">

            <tr>
                <th class="text-center"># </th>
                    <th class="text-center">Nom du categorie </th>
                     <th class="text-center" >Action </th>


                  </tr>
        
            <!--Card image-->
            
            <!--Card content-->
            
          
              <!--Title-->
              <tr *ngFor="let cat of categories;let id=index" >
                  
            <td>

                 {{id +1}}
            </td>

        <td>
          
                <mdb-card-text >
              <p  >
                {{cat.categoryName}}
              </p>
          
          
                </mdb-card-text>
              </td>

                    <td>    
                    <button type="button" class="btn btn-outline-primary" 
                    (click)="openUpdateModal(cat);"><mdb-icon far icon="edit"></mdb-icon>
                  </button> 
                  </td>
        </tr>
     
    </table>


<div mdbModal #addframe="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Nouveau Categorie</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal(addframe)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <input  required #name="ngModel" type="text" id="name" name="name" class="form-control" [(ngModel)]="category.categoryName"
             mdbInput mdbValidate>
      <label for="name">Nom du categorie</label>
      <mdb-error
        *ngIf="name.invalid && (name.dirty || name.touched)">
        Nom du categorie invalide
      </mdb-error>
    </div>


  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button (click)="addCategory();addframe.hide()" mdbBtn color="indigo" class="waves-light" mdbWavesEffect>Valider
 
    </button>
  </div>
</div>
</div>
</div>
<div mdbModal #updateframe="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">Mise a jour Categorie</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal(updateframe)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <input  required #name2="ngModel" type="text" id="name2" name="name" class="form-control" [(ngModel)]="category.categoryName"
             mdbInput mdbValidate>
      <label for="name2">Nom du categorie</label>
      <mdb-error
        *ngIf="name2.invalid && (name2.dirty || name2.touched)">
        Nom du categorie invalide
      </mdb-error>
    </div>


  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button (click)="updateCategory();updateframe.hide()" mdbBtn color="indigo" class="waves-light" mdbWavesEffect>Valider
 
    </button>
  </div>
</div>
</div>
</div>


