<div class="container mb-5 mt-5 ">
    <!-- Extended material form grid -->
    <p class="h3-responsive text-muli-light-26 text-pink-custom text-center">INFORMATIONS</p>
    <div *ngIf="!DeliveryMan.active" class="alert alert-danger" role="alert">
      Votre compte n'est pas encore active , la confirmation de l'administrateur est en cours
    </div>
    <form #form="ngForm">
      <!-- Grid row -->
      <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="text" #firstName="ngModel" pattern="[a-zA-Z]{2,}$" class="form-control text-muli-regular-18 text-grey-custom" id="firstName" name="firstName" [(ngModel)]="DeliveryMan.firstName" required>
            <label for="name" class=" text-muli-regular-14 text-grey-light-custom">Prenom</label>
            <mdb-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              <div *ngIf="firstName.errors.required">
                Le Prenom est  obligatoire.
    
              </div>
            </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
              <input mdbInput type="text" class="form-control text-muli-regular-18 text-grey-custom" #address="ngModel"  id="address" name="address" [(ngModel)]="DeliveryMan.address" required>
              <label for="address" class=" text-muli-regular-14 text-grey-light-custom">Adresse</label>
              <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
                <div *ngIf="address.errors.required">
                  L'adresse est  obligatoire.
                </div>
              </mdb-error>
            </div>
          </div>
          <!-- Grid column -->
          <!-- Grid row -->
      </div>
        <!-- Grid row -->
        <div  class="form-row">
                <!-- Grid column -->
                <div class="col-md-6">
                  <!-- Material input -->
                  <div class="md-form form-group">
                    <input mdbInput type="text" class="form-control text-muli-regular-18 text-grey-custom" pattern="[a-zA-Z]{2,}$" #lastName="ngModel" id="lastName" name="lastName" [(ngModel)]="DeliveryMan.lastName" required>
                    <label for="lastName" class=" text-muli-regular-14 text-grey-light-custom">Nom de famille</label>
                    <mdb-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                      <div *ngIf="lastName.errors.required">
                        Nom Obligatoire.
                      </div>
                    </mdb-error>
                  </div>
                </div>
                <!-- Grid column -->
              <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput  pattern="[0-9]{8,8}$"  #phoneNumber="ngModel" type="text" class="form-control text-muli-regular-18 text-grey-custom" id="phoneNumber" name="phoneNumber" required minlength="8" required maxlength="8" [(ngModel)]="DeliveryMan.phoneNumber" >
            <label for="phoneNumber" class=" text-muli-regular-14 text-grey-light-custom">Téléphone mobile</label>
            <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
              <div *ngIf="phoneNumber.errors.required">
                Téléphone mobile est obligatoire.
              </div>
              <div *ngIf="phoneNumber.errors.minlength || phoneNumber.errors.maxlength ||phoneNumber.errors.pattern">
                CIN doit comporter 8 chiffres.
              </div>
            </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
            
                  <!-- Grid row -->
              </div>
    <!--   <div class="form-row">
        <div class="col-md-6">
          <div class="md-form form-group input-group">
            <input style="padding: 0.6rem 0 0.4rem 0;" aria-describedby="button" #cin="ngModel" pattern="[0-9]{8,8}$"  mdbInput type="text" class="form-control text-muli-regular-18 text-grey-custom" id="cin" name="cin" required minlength="8" maxlength="8" [(ngModel)]="DeliveryMan.cin" >
            <div class="input-group-append">
              <button mdbBtn  id="button"  size="md" class="m-0 px-3 py-2  text-muli-semi-bold-14 btn-pink-custom-outline" type="button"
               mdbWavesEffect  (click)="Imageframe.show()">Voir CIN</button>
          </div>
            <label for="cin" class=" text-muli-regular-14 text-grey-light-custom">CIN</label>
          
          <mdb-error *ngIf="cin.invalid && (cin.dirty || cin.touched)">
            <div *ngIf="cin.errors.required">
             CIN est obligatoire.
            </div>
            <div *ngIf="cin.errors.minlength || cin.errors.maxlength ||cin.errors.pattern">
              CIN doit comporter 8 chiffres.
            </div>
        
          </mdb-error>
          </div>
        </div>
    
        <div class="col-md-6">
          <div class="md-form form-group">
            <input mdbInput type="text" #rib="ngModel"  pattern="[0-9]{20,20}$" class="form-control text-muli-regular-18 text-grey-custom" id="rib" name="rib" [(ngModel)]="DeliveryMan.rib" required minlength="20" required maxlength="20" >
            <label for="rib" class=" text-muli-regular-14 text-grey-light-custom">RIB</label>
            <mdb-error *ngIf="rib.invalid && (rib.dirty || rib.touched)">
              <div *ngIf="rib.errors.required">
                RIB  est obligatoire.
              </div>
              <div *ngIf="rib.errors.minlength || rib.errors.maxlength ||rib.errors.pattern">
                CIN doit comporter 20 chiffres.
              </div>
            </mdb-error>
          </div>
        </div>
      </div> -->
      <!-- Grid row -->
      <!-- Grid row -->
      <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
          <!-- Material input -->
          <div class="md-form form-group">
            <input mdbInput type="email" #email="ngModel" class="form-control text-muli-regular-18 text-grey-custom" id="email" name="email" [(ngModel)]="DeliveryMan.email" disabled required>
            <label for="email" class=" text-muli-regular-14 text-grey-light-custom">Email</label>
            <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors.required">
                E-mail  est  obligatoire.
              </div>
            </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div *ngIf="!social" class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input pattern="(?=.*\d)(?=.*[a-z]).{5,}" autocomplete="new-password" mdbInput type="password" #password="ngModel" class="form-control text-muli-regular-18 text-grey-custom" value="" name="password" id="password" required minlength="5" [(ngModel)]="DeliveryMan.password" >
                  <label for="password" class=" text-muli-regular-14 text-grey-light-custom">Mot de passe</label>
                  <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">
                      Mot de passe est  obligatoire.
                    </div>
                    <div *ngIf="password.errors.minlength ||phoneNumber.errors.pattern">
                      Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre
                    </div>
                  </mdb-error>
                </div>
              </div>
              <!-- Grid column -->
      
      <!-- Grid row -->
      <!-- Extended material form grid -->
    
    
      <div class="row w-100 mx-auto">
        <button  (click)="update()" mdbBtn  class="waves-light text-muli-semi-bold-14 btn-pink-custom " mdbWavesEffect [class.disabled]="form.invalid" >Enregistrer</button>
      </div>
      
    </div> 
    </form>
    </div>
    
    <div mdbModal #Imageframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header text-center">
          <p  class="modal-title w-100 text-muli-bold-24 text-grey-darker-custom">CIN</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();Imageframe.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
    
        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <img height="200" class="w-100" *ngIf="DeliveryMan.cinImage && !updateCIN" src="{{DeliveryMan.cinImage}}">
            <div *ngIf="!DeliveryMan.cinImage || updateCIN" class="md-form  form-group input-group  mt-1 mb-4 ">
                <input class="file-path form-control" type="text" required id="cinImage"  name="cinImage" [(ngModel)]="cinImage"
                mdbInput mdbValidate disabled>
              <div class="input-group-append  file-field">
                <div class="text-muli-regular-10 btn btn-grey-custom btn-sm float-left waves-effect waves-light">
                   <span><mdb-icon fas icon="upload" size="2x"></mdb-icon></span>
                   <input class="file" type="file" (change)="selectFile($event)">
                </div>
            
              </div>
            </div>
          </div>
        </div>
        <!--Footer-->
        <div class="modal-footer d-flex justify-content-center">
          <button  (click)="close();Imageframe.hide()" mdbBtn class="waves-light text-muli-semi-bold-14 btn-pink-custom-outline" mdbWavesEffect>Fermer</button>
          <button *ngIf="!updateCIN" (click)="updateCIN=true;" mdbBtn class="waves-light text-muli-semi-bold-14 btn-pink-custom" mdbWavesEffect>Mise a jour</button>
          <button *ngIf="updateCIN" (click)="updateImage();Imageframe.hide()" mdbBtn class="waves-light text-muli-semi-bold-14 btn-pink-custom" mdbWavesEffect>Mise a jour</button>
    
        </div>
    
      </div>
      <!--/.Content-->
    </div>
    </div>
    