<div class="bg">

    <div class="container"> 
    
    <div>
      <br><br>
    <h1 class="text-purple-darker-custom text-anton-bold-36" > {{title}}</h1>
    </div>
    </div>
    <div class="container justify-content-center align-items-center">
      <div class="row">
        <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5" 
        style="margin-bottom: 20 px;" *ngFor="let sender of senders| paginate: { itemsPerPage: 6, currentPage: p };let id=index">
    <div  class="card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <a routerLink="/restaurant/{{sender._id}}/{{sender.name}}">
            <img *ngIf="sender.banner" class="card-img-top"  src="{{sender.banner}}" alt="Card image cap" height="200px" />
          <img *ngIf="!sender.banner" class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
          
          <div *ngIf="sender.closed || (sender.times &&  setStatus(sender.times))" class="mask flex-center waves-effect waves-light rgba-black-strong" style="opacity: 1;">
            <p class="white-text">Fermé</p>
          </div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade">
      
          <!-- Label -->
          <h5 class="text-brown-custom pb-2 pt-1 d-inline-block text-truncate text-purple-custom text-muli-semi-bold-16" (click)="change($event)" style="max-width: 90%;"><i class="fas fa-map-marker-alt"></i> {{sender.address}}</h5>
          <!-- Title -->
          <h4 class="text-Oswald-med card-title text-purple-dark-custom text-anton-regular-24 text-truncate"> {{sender.name}} </h4>
          <!-- Text -->
          <p class="text-roboto-regular-smaller text-grey-custom text-truncate" >
            <mdb-icon far icon="star"></mdb-icon> {{average[id]}}
          </p>
          <!-- Button -->
<!--           <button type="button" class="btn  waves-effect btn-pink-custom-outline text-muli-bold-16" routerLink="/restaurant/{{sender._id}}/{{sender.name}}"><i class="far fa-list-alt pr-2" aria-hidden="true"></i>Voir Menu</button>
 -->    
      
        </div>
      </div>
    </div>
  </div>
    <div *ngIf="senders && senders.length!==0" class="row mt-5 mb-5"> <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
      nextLabel="Suivant"></pagination-controls></div>
   
    </div>

<div class="container justify-content-center align-items-center " >
    <div class="row ">
      
    <!-- Card -->
    <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
        <mdb-card style="background-image: url('./../../../assets/home/livreur.png')"
        class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div style="margin-top: 40%;">

    <h3 class="card-title pt-2"><strong>Livreur</strong></h3>
    <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" routerLink="/deliveryman">En savoir plus</button>
   
  </div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
  </div>
  <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
      <mdb-card style="background-image: url('./../../../assets/home/restaurant.png')"
      class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
<div style="margin-top: 40%;">

  <h3 class="card-title pt-2"><strong>Restaurant</strong></h3>
  <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" routerLink="/restaurant">En savoir plus</button>
 
</div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
</div>
<div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
    <mdb-card style="background-image: url('./../../../assets/home/carriere.png')"
    class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
<div style="margin-top: 40%;">

<h3 class="card-title pt-2"><strong>Carrière</strong></h3>
<button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14">En savoir plus</button>

</div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
</div> 
    <!-- Card -->

  
    </div>
  </div>


