
  

   <div class="back">
    <div class="container">
        <div class="row">
         
            
              
                <div class="container main">
    
  

  <router-outlet></router-outlet> 
             
</div>
</div>
</div>
</div>