<p>admin-delivery-man works!</p>
<!-- Extended material form grid -->
<h1 class="display-4  mb-3 text-center" style="color: #3F729B">Informations du Livreur</h1>
<form   >
        <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 text-center">
                  <!-- Material input -->
                  <div class="md-form form-group">
                        <button (click)="update(true)" *ngIf="!deliveryman.active" mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Confirmer le livreur</button>
                        <!-- <button (click)="update(false)" *ngIf="deliveryman.active" mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Desactiver le compte du livreur</button> -->
                        <button (click)="block(true)" *ngIf="!deliveryman.available" mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Debloquer le livreur</button>
                        <button (click)="block(false)" *ngIf="deliveryman.available" mdbBtn type="button" color="danger" outline="true" mdbWavesEffect>Bloquer  du livreur</button>
                  </div>
                </div>
                <!-- Grid column -->
          </div>
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="name" name="name" [(ngModel)]="deliveryman.firstName" disabled>
        <label for="name">Prenom</label>
      </div>
    </div>
    <!-- Grid column -->
 <!-- Grid column -->
 <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="deliveryman.lastName" disabled>
          <label for="lastName">Nom de famille</label>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid row -->
  </div>
    <!-- Grid row -->
<!--     <div  class="form-row">
           
          <div class="col-md-6">
                <div class="md-form input-group form-group">
                  <input style="padding: 0.6rem 0 0.4rem 0;" mdbInput type="text" class="form-control" id="cin"
                   name="cin" [(ngModel)]="deliveryman.cin" disabled aria-describedby="button">
                  <div class="input-group-append">
                      <button mdbBtn color="info" id="button" outline="true" size="md" class="m-0 px-3 py-2" type="button"
                       mdbWavesEffect  (click)="frame.show()">Voir CIN</button>
                  </div>
                  <label for="address">CIN</label>
                 
                </div>
              </div>
    <div class="col-md-6">
            <div class="md-form form-group">
              <input mdbInput type="text" class="form-control" id="rib" name="rib" [(ngModel)]="deliveryman.rib"  disabled>
              <label for="rib">RIB</label>
            </div>
          </div>
      
          </div> -->
  <div class="form-row">
       <!-- Grid column -->
    <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
              <input mdbInput type="email" class="form-control" id="email" name="email" [(ngModel)]="deliveryman.email" disabled >
              <label for="email">Email</label>
            </div>
          </div>
          <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="deliveryman.phoneNumber" disabled>
        <label for="phoneNumber">Téléphone mobile</label>
      </div>
    </div>
    <!-- Grid column -->


  </div>
  <!-- Grid row -->
  <!-- Grid row -->
  <div class="form-row">
     <!-- Grid column -->
  <div class="col-md-12">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="text" class="form-control" id="address" name="address" [(ngModel)]="deliveryman.address"disabled >
          <label for="address">Adresse</label>
        </div>
      </div>
      <!-- Grid column -->
</div>
  <!-- Grid row -->
  <!-- Extended material form grid -->
 <h3  class="h3-responsive mb-2"><strong>Historique des livraisons</strong>
      
</h3>

<table  id="orders" class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center" style="width: 50%;"> Trajet  </th>
          <th class="text-center">Date</th>
          <th class="text-center">Total</th>
          
        </tr>
        <tr *ngFor="let delivery of deliveries; let id = index ;">
          <td>
            <span>{{id+1}}</span>
          </td>
          <td>
            <span> De {{delivery.startingPoint }} a {{delivery.arrivalPoint }} </span>
          </td>
          <td>
              <span>{{ delivery.deliveryDate | date : 'longDate'}}</span>
            </td>
            <td>
                <span> {{delivery.total }} DT</span>
              </td>
          
        
         </tr>
   
      </table>
  <!-- Grid row -->

  <!-- Grid row -->
  <h3  class="h3-responsive mb-2 "><strong class="mr-5">Avis</strong>
    
    <ngb-rating [readonly]="true" [(rate)]="noteAverage">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" >&#9733;</span>
      </ng-template>
    </ngb-rating>
  </h3>
  
  <table  id="orders" class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center"> Note  </th>
            <th class="text-center">Commentaire</th>
            <th class="text-center">Date</th>
            
          </tr>
          <tr *ngFor="let note of notes; let id = index ;">
            <td>
              <span>{{id+1}}</span>
            </td>
            <td>
              <span>  {{note.note }}  </span>
            </td>
           
              <td>
                  <span> {{note.comment }} </span>
                </td>
                <td>
                    <span>{{ note.dateNote | date : 'longDate'}}</span>
                  </td>
          
           </tr>
     
        </table>
    <!-- Grid row -->

</form>


<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half text-center">
          <img max-height="500"  src="{{deliveryman.cinImage}}"/>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">

        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="frame.hide()">Fermer</button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>