header links {
    margin-bottom: 7px;
    border-bottom: 1px solid white
}
links {
    margin-bottom: 7px;
    border-bottom: 1px solid #e67e22
}
.my-nav{
    z-index: 1000 !important;
    background: none !important;
    border: 0 !important;
    border-radius: 0 !important;
    position: relative !important;
    line-height: 1 !important;
    list-style: none outside none !important;
    padding: 0 !important;
    
}
.carousel-caption{
    top: 5% !important;
    left: 10% !important;
    width: 40% !important;
}

.carousel-caption p {
    margin-bottom: 0!important;
}
.card-image{
    background-image: url('./../assets/home/plats.png');
    background-size: cover;
}

