<h1 class="display-4  mb-5 text-center" style="color: #3F729B">La liste des clients</h1>
<table mdbTable  class="text-center">
        <thead class="unique-color white-text">
    <tr>
    <th class="text-center"><strong>#</strong></th>
    <th class="text-center"><strong>Nom et Prenom</strong>   </th>
    <th class="text-center"><strong>Email</strong></th>
    <th class="text-center"><strong>Numero de telephone</strong></th>
    <th class="text-center"><strong>Verifié</strong></th>
    <th class="text-center"><strong>type de compte</strong></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recipient of recipients; let id = index ;">
    <td>
      <span>{{id+1}}</span>
    </td>
    <td>
      <span>{{recipient.firstName }} {{recipient.lastName }}</span>
    </td>
    <td>
        <span> {{recipient.email }}</span>
      </td>
      <td>
          <span> {{recipient.phoneNumber }}</span>
        </td>
        <td>
          <span *ngIf="recipient.verified">Oui</span>
         <span *ngIf="!recipient.verified">Non</span> 
       </td>
    <td>
       <span *ngIf="recipient.type!=='signup' && recipient.type!==''">{{recipient.type}}</span>
       <span *ngIf="recipient.type==='signup' || !recipient.type">inscrit</span>
    </td>
   
 
  
   </tr>
</tbody>
</table>
