<!-- Extended material form grid -->
<h1 class="display-4  mb-3 text-center" style="color: #3F729B">Gestion du frais du livraison</h1>
<form #form="ngForm">

  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 text-center mx-auto">
      <!-- Material input -->
      <div class="md-form form-group">
            <input  required #orderLimit="ngModel" [(ngModel)]="delievryFee.orderLimit"  name="orderLimit" mdbInput type="text" id="orderLimit" class="form-control">
            <label for="orderLimit" class="">Limite du commande DT </label>
            <mdb-error *ngIf="orderLimit.invalid && (orderLimit.dirty || orderLimit.touched)">
              frais Obligatoire
            </mdb-error>
      </div>
    </div>
    <!-- Grid column -->
</div>       
  <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 text-center mx-auto">
              <!-- Material input -->
              <div class="md-form form-group">
                    <input  required #feePercentage="ngModel" [(ngModel)]="delievryFee.feePercentage"  name="feePercentage" mdbInput type="text" id="feePercentage" class="form-control">
                    <label for="feePercentage" class="">Pourcentage du frais du livraison < limite (%) </label>
                    <mdb-error *ngIf="feePercentage.invalid && (feePercentage.dirty || feePercentage.touched)">
                      frais Obligatoire
                    </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
      </div>
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 text-center mx-auto">
          <!-- Material input -->
          <div class="md-form form-group">
                <input  required #feePercentageOverLimit="ngModel" [(ngModel)]="delievryFee.feePercentageOverLimit"  name="feePercentageOverLimit" mdbInput type="text" id="feePercentageOverLimit" class="form-control">
                <label for="feePercentageOverLimit" class="">Pourcentage du frais du livraison > limite (%) </label>
                <mdb-error *ngIf="feePercentageOverLimit.invalid && (feePercentageOverLimit.dirty || feePercentageOverLimit.touched)">
                  frais Obligatoire
                </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
  </div>
      <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 text-center mx-auto">
              <!-- Material input -->
              <div class="md-form form-group">
                    <input  required #profitPercentage="ngModel" [(ngModel)]="delievryFee.profitPercentage"  name="profitPercentage" mdbInput type="text" id="profitPercentage" class="form-control">
                    <label for="profitPercentage" class="">Pourcentage du gain (%)</label>
                    <mdb-error *ngIf="profitPercentage.invalid && (profitPercentage.dirty || profitPercentage.touched)">
                      frais Obligatoire
                    </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
      </div>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 text-center mx-auto">
              <!-- Material input -->
              <div class="md-form form-group">
                    <input  required #limit="ngModel" [(ngModel)]="delievryFee.limit"  name="limit" mdbInput type="text" id="limit" class="form-control">
                    <label for="limit" class="">Seuil (KM)</label>
                    <mdb-error *ngIf="limit.invalid && (limit.dirty || limit.touched)">
                      frais Obligatoire
                    </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
      </div>
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 text-center mx-auto">
              <!-- Material input -->
              <div class="md-form form-group">
                    <input  required #priceKm="ngModel" [(ngModel)]="delievryFee.priceKm"  name="priceKm" mdbInput type="text" id="priceKm" class="form-control">
                    <label for="priceKm" class="">Prix par KM (DT) </label>
                    <mdb-error *ngIf="priceKm.invalid && (priceKm.dirty || priceKm.touched)">
                      frais Obligatoire
                    </mdb-error>
              </div>
            </div>
            <!-- Grid column -->
      </div>
    <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 text-center">
              <!-- Material input -->
              <div class="md-form form-group">
                    <button [class.disabled]="form.invalid" (click)="save()" *ngIf="deliveryFeeCount===0" mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Enregistrer</button>
                    <button [class.disabled]="form.invalid" (click)="update()" *ngIf="deliveryFeeCount===1" mdbBtn type="button" color="default" outline="true" mdbWavesEffect>Enregistrer</button>

              </div>
            </div>
            <!-- Grid column -->
      </div>
</form>
