<p class="text-muli-light-26 text-grey-custom text-center"> Commandes en cours </p>

<div *ngIf="deliveries.length>0" class="row mt-5">
 
    <div *ngFor="let delivery of deliveries" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-5">
       
      
        <mdb-card>
            <!--Card image-->
            
            <!--Card content-->
            <mdb-card-body>
          
              <!--Title-->
              <mdb-card-title>
                <p class="text-purple-lighter-custom text-muli-bold-16 text-center">Code : {{delivery._id | slice:-2}}{{delivery.object | slice:-2}}</p>
              </mdb-card-title>
              <mdb-card-title>
                <p p class="text-purple-lighter-custom text-muli-bold-16 text-center">Commande pour {{delivery.recipient}}</p>
              </mdb-card-title>

              <mdb-card-text >
                  <p class="text-grey-darker-custom text-muli-bold-14 text-center"> {{delivery.deliveryDate | date:'medium' }} </p>
            </mdb-card-text>
          
              <mdb-card-text>
                  <p class="text-muli-regular-16 text-grey-dark-custom text-center">Détails de la commade :</p>
                  <p class="text-muli-semi-bold-16 text-purple-lighter-custom text-center" (click)="test.toggle()"><mdb-icon class="text-purple-lighter-custom" far icon="eye" ></mdb-icon> Voir</p>
                
                </mdb-card-text>

                <div class="" mdbCollapse #test="bs-collapse">
                    <mdb-card-text *ngIf="delivery.object">
                 
                        <p class="text-muli-regular-18 text-grey-custom text-center" *ngFor="let item of delivery.description" >
                            {{item.quantity}} x {{item.product}} - {{item.comment}} 
                          </p>
                      </mdb-card-text>
                          <mdb-card-text *ngIf="!delivery.object">
                              <p class="text-muli-regular-18 text-grey-custom text-center">{{delivery.description}}</p>
                          </mdb-card-text>
                </div>
            
                <mdb-card-text class="border-top border-bottom">
                    <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">{{delivery.price}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span></p>
              </mdb-card-text>
            
            </mdb-card-body>
          </mdb-card>
    </div>
  </div>
    <div *ngIf="deliveries.length==0" >
      
        <p class="text-muli-light-26 text-grey-custom text-center">Pas des commandes en attente! 
            Merci!</p>
          
        
    </div>
