<div class="container">
    <div class="row mt-3">
      <p class="text-muli-semi-bold-14 text-grey-custom mb-4" routerLink="/home">Accueil> </p>
      <p class="text-muli-semi-bold-14 text-purple-custom mb-4"> Mes commandes
      </p>
    </div>
      <div class="row">
      <img src="/assets/commandes/header.png" class="img-fluid mb-4" alt="Responsive image">
    </div>
    <!-- 
    <div class="row mb-5 mt-5 ">
      <div class="btn-group mx-auto" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn  class="dropdown-toggle waves-light text-muli-bold-16 btn-purple-custom"
          mdbWavesEffect>
          <span *ngIf="tab===0">Commandes en attente de restaurant</span>
          <span *ngIf="tab===1">Commandes en attente </span>
          <span *ngIf="tab===2">Commandes en cours</span>
          <span *ngIf="tab===3">commandes refusées</span>
        </button>
  
        <div class="dropdown-menu dropdown-primary">
          <a class="text-muli-bold-12 dropdown-item" (click)="open(0,'init')">Commandes en attente de restaurant</a>
          <a class="text-muli-bold-12 dropdown-item"(click)="open(1,'wait')" >Commandes en attente</a>
          <a class="text-muli-bold-12 dropdown-item" (click)="open(2,'accepted')">Commandes en cours</a>
          <div class="divider dropdown-divider"></div>
          <a class="text-muli-bold-12 dropdown-item" (click)="open(3,'refused')">commandes refusées</a>
          
        </div>
      </div>
   
    </div>-->
    <div class="row">
      <div *ngIf="deliveries.length==0" class="mx-auto">
      
          <p class="text-muli-light-26 text-grey-custom text-center mb-5"> Vous n'avez pas des commandes 
              </p>
              <p class="text-muli-bold-21 text-purple-custom text-center mb-5" routerLink="/home"> Passer une commande (Cliquez ici)
                </p>
            
        </div>
  
      <div class="col-md-4 mt-3 "  *ngFor="let D of deliveries | paginate: { itemsPerPage: 6, currentPage: p } ; let id = index ;">
          <div class="justify-content-center align-items-center "  >
      
              <ul class="stepper stepper-vertical text-center">
      
                      <li   >
                          
                              <!--Section Title -->
                             
                              <a>
                                  <div id="container">
                                      <img src="/assets/commandes/1.png"/>
                                      <p id="text">
                                          {{(p*3 )-3 + (id+1)}}
                                      </p>
                                      
                                    </div>
                                <span class="text-muli-bold-14 text-grey-custom label">{{ D.deliveryDate | date:'h:mm a dd/MM/yyyy' }}</span>
                              </a>
                      
                              <!-- Section Description -->
                              <div class=" w-100">
      
              <div class="col-md-12 justify-content-center">
                      <!--Card-->
                      <mdb-card cascade="true" narrower="true">
                  
                  
                        <mdb-card-body cascade="true" class="text-center">
                         
                            <img src="/assets/commandes/2.png"/>
                          <!--Card content-->
                          <p class="text-muli-bold-16 text-grey-custom">
                            <span >N°{{D._id | slice:-2}}{{D.object | slice:-2}}</span>
                           </p>
                          <p class="text-muli-bold-16 text-pink-custom">
                           <span *ngIf="D.object" > {{D.sender.name}} </span>
                           <span *ngIf="!D.object && D.sender" > {{D.sender}}  </span>
                           <span *ngIf="!D.sender" > Votre choix </span>
                          </p>
                          <!--Title-->
                          
                          <p class="card-title text-grey-custom">
                          <span class="text-muli-light-26">{{D.total}}</span> <span class="ml-2 text-muli-light-18">  TND</span>   </p>
                          <!--Text-->
                          <img src="/assets/commandes/4.png"/>
                          <p class="text-muli-bold-14 text-grey-custom"  > Description <mdb-icon (click)="test.toggle()" fas icon="angle-down"></mdb-icon></p>
                         
                          <div mdbCollapse #test="bs-collapse" >
                              <mdb-card-text class="text-muli-light-18 text-gery-custom" *ngIf="!D.object">
                                  {{D.description}}
                                 </mdb-card-text>
                              <mdb-card-text class="text-muli-light-18 text-gery-custom" *ngIf="D.object"> 
                                  <p  *ngFor="let item of D.description" >
                                      {{item.quantity}} x {{item.product}} ( {{item.comment}})
                                    </p>
                                </mdb-card-text>
                          </div>
                            <img src="/assets/commandes/3.png"/>
                            <p class="text-muli-bold-14 text-grey-custom" > Cheminement </p>
                            <p class="text-muli-regular-14 text-grey-custom" > Départ </p>
                            <p class="text-muli-regular-14 text-grey-light-custom d-inline-block text-truncate "  (click)="change($event)" style="max-width: 90%;">
                             {{D.startingPoint}}
                            </p>
                            <p class="text-muli-regular-14 text-grey-custom" > Arrivé </p>
                            <p class="text-muli-regular-14 text-grey-light-custom d-inline-block text-truncate "  (click)="change($event)" style="max-width: 90%;">                              {{D.arrivalPoint}}
                            </p>
                            <p class="text-muli-bold-16 text-pink-custom">
                              <span *ngIf="D.status!='updated'" > {{find(D.status)}} </span>
                              <a style="color:red;padding: 0;display: block;" *ngIf="D.status==='updated'" (click)="selectedId=D._id;basicModal.show()" >{{find(D.status)}}  </a>
                             </p>
                  
                         <!--  <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Re-commander</a> -->
                  
                        </mdb-card-body>
                        <!--/.Card content-->
                  
                      </mdb-card>
                      <!--/.Card-->
                    </div>
          
          
          
          </div>
          </li>
      
          
          
          
          </ul>
                  </div>
      
                  </div>
      
      
      
      
     
   </div> 
   <div class="row mt-5 mb-5"> <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
    nextLabel="Suivant"></pagination-controls></div>
   </div>           
   <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100 text-purple-custom text-muli-bold-21" id="myModalLabel"><strong>Confirmation </strong> <mdb-icon far icon="grin-wink"></mdb-icon></h4>
        </div>
        <div class="modal-body">
          <div class="mt-1 text-center">
            <h5 class="text-muli-bold-18" >Voulez vous confirmer le mise a jour du prix ? </h5>
  
    
  </div> 
      
      </div>
        <div class="modal-footer">
          <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="basicModal.hide();confirm('accepted')" mdbWavesEffect>Oui</button>
          <button type="button" mdbBtn  class="relative waves-light btn-purple-custom" (click)="basicModal.hide();confirm('cancelled')" mdbWavesEffect>Non</button>
        </div>
      </div>
    </div>
  </div>
  