<div class="bg">

  <div class="container "> 
  
  <div class="font-weight-bold">
  <h1 class="text-center mt-2 text-muli-light-26 text-grey-custom"> Historique  livraision  </h1>
  </div>
  </div>
  <div class="container justify-content-center align-items-center "style="margin-top:3%;">
    <div class="row">
        <div *ngIf="Delivery.length==0" class="mx-auto">
  
            <p class="text-muli-light-26 text-grey-custom text-center mb-5"> Vous n'avez pas encore des commandes livrer
                </p>
              
              
          </div>
      <div *ngFor="let D of Delivery ; let id = index ;" class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mb-5" style="margin-bottom: 20 px;">
          
         
        <mdb-card>
               <!--Card image-->
              
              
              <!--Card content-->
              <mdb-card-body>
            
                <!--Title-->
                
                <mdb-card-title>
                  <p class="text-muli-semi-bold-18 text-pink-custom text-center">
                    {{find(D.status)}}                  </p>
                    <p class="text-muli-semi-bold-16 text-grey-darker-custom">{{D.deliveryDate | date:'medium'}}</p>
                    <p *ngIf="D.object" (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-22 text-grey-darker-custom" style="max-width: 90%;" >{{D.sender.name}} </p>
                    <p *ngIf="D.sender && !D.object" (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-22 text-grey-darker-custom" style="max-width: 90%;" >{{D.sender}} </p>
                    <p class=" " *ngIf="!D.sender">
                      <span class="text-muli-regular-16 text-grey-dark-custom ">Restaurant :</span>
                      <span class="text-muli-regular-22 text-grey-darker-custom">Choix du client</span> </p> 
                      <p class="text-muli-regular-16 text-grey-dark-custom">Détails de la commade :
                        <button class="lien" type="button" mdbBtn color="link" style="color: #fb72c4!important;" (click)="test.toggle()"  mdbWavesEffect>voir</button>
                    </p>

                      <div  class="text-muli-regular-16 text-grey-dark-custom" mdbCollapse #test="bs-collapse">
                          <span *ngIf='D.object'>
                              <div *ngFor="let item of D.description" >
                                {{item.quantity}} x {{item.product}}
                              </div>
                            </span>
                            <span *ngIf="!D.object">{{D.description }}</span>
                      </div>

              </mdb-card-title>
              <mdb-card-text class="border-top border-bottom">
                <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">Gain : {{D.deliveryFee}} </span><span class="text-muli-regular-12 text-grey-custom mr-1">TND</span>
                  <span class="text-muli-regular-18 text-grey-custom">Restaurant : {{D.price}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span>
                </p>
                <p class="text-center  mb-2 mt-2"><span class="text-muli-regular-18 text-grey-custom">Delivs : {{D.total-(D.deliveryFee+D.price)| number}} </span><span class="text-muli-regular-12 text-grey-custom mr-1">TND</span>
                  <span class="text-muli-regular-18 text-grey-custom">Total : {{D.total}} </span><span class="text-muli-regular-12 text-grey-custom">TND</span></p>

              </mdb-card-text>
              <mdb-card-title>
                  <h4></h4>  

              
            </mdb-card-title>
            <mdb-card-text><h5 class="text-purple-custom pb-2 pt-1"><mdb-icon class="mr-1" fas icon="map-marker-alt"></mdb-icon>
              <span (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-16 text-purple-custom" style="max-width: 75%;" >{{D.startingPoint}}
             </span></h5>                
           </mdb-card-text>
            <!--Text-->
             <mdb-card-text ><h5 class="text-purple-custom pb-2 pt-1"><i class=" mr-1 fas fa-map-marker-alt"></i>
              <span (click)="change($event)" class="d-inline-block text-truncate text-muli-regular-16 text-purple-custom" style="max-width: 75%;" >{{D.arrivalPoint }}
              </span></h5>
             </mdb-card-text>
                        
                

              </mdb-card-body>
            </mdb-card>
  
  </div>
  </div> 
  
<!-- /.Horizontal Steppers -->



  
  
  
       
           

  
