.lien{
    margin:0;
    padding: 0;
    color: #fb72c4!important;
    font-family: 'Muli', sans-serif!important;
    font-weight: 700!important;
    font-size: 16px!important;
}

div.active{
    display: block;
    
    }
    div.none{
    display:none;
    }