
<h3 class="h3-responsive">Informations</h3>
<form   >
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="name" name="name" [(ngModel)]="sender.name" disabled>
        <label *ngIf="sender.type==='0'" for="name">Nom</label>
        <label *ngIf="sender.type!=='0'" for="name">Prenom</label>
      </div>
    </div>
    <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input mdbInput type="text" class="form-control" id="address" name="address" [(ngModel)]="sender.address"disabled >
          <label for="address">Adresse</label>
        </div>
      </div>
      <!-- Grid column -->
      <!-- Grid row -->
  </div>
    <!-- Grid row -->
    <div *ngIf="sender.type!=='0'" class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="sender.lastName" disabled>
                <label for="lastName">Nom de famille</label>
              </div>
            </div>
            <!-- Grid column -->
        

              <!-- Grid row -->
          </div>
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="sender.phoneNumber" disabled>
        <label for="phoneNumber">Téléphone mobile</label>
      </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="email" class="form-control" id="email" name="email" [(ngModel)]="sender.email" disabled >
        <label for="email">Email</label>
      </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
<!--     <div class="col-md-6">
      <div class="md-form form-group">
        <input mdbInput type="text" class="form-control" id="rib" name="rib" [(ngModel)]="sender.rib" disabled >
        <label for="rib">RIB</label>
      </div>
    </div> -->
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
  <!-- Grid row -->

  <!-- Grid row -->
  <!-- Extended material form grid -->
<h3 *ngIf="sender.type==='0'" class="h3-responsive">Menu
        
</h3>
<table *ngIf="sender.type==='0'" id="orders" class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">#</th>
          <th class="text-center"> Nom  </th>
          <th class="text-center description">Description</th>
          <th class="text-center"> Categorie  </th>
          <th class="text-center">Prix</th>
         
        </tr>
        <tr *ngFor="let product of sender.menu; let id = index ;">
          <td>
            <span>{{id+1}}</span>
          </td>
          <td>
            <span>{{product.name }}</span>
          </td>
          <td>
              <span>{{ product.description}}</span>
            </td>
            <td>
              <span> {{getCategorie(product.category) }}</span>
            </td>
            <td>
                <span> {{product.price }}</span>
              </td>
          </tr></table>
            <!-- Grid row -->
  <h3  class="h3-responsive mb-2 "><strong class="mr-5">Avis</strong>
    
    <ngb-rating [readonly]="true" [(rate)]="noteAverage">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" >&#9733;</span>
      </ng-template>
    </ngb-rating>
  </h3>
  
  <table  id="orders" class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">#</th>
            <th class="text-center"> Note  </th>
            <th class="text-center">Commentaire</th>
            <th class="text-center">Date</th>
            
          </tr>
          <tr *ngFor="let note of notes; let id = index ;">
            <td>
              <span>{{id+1}}</span>
            </td>
            <td>
              <span>  {{note.note }}  </span>
            </td>
           
              <td>
                  <span> {{note.comment }} </span>
                </td>
                <td>
                    <span>{{ note.dateNote | date : 'longDate'}}</span>
                  </td>
          
           </tr>
     
        </table>
    