.star {
    font-size: 1.5rem;
    color: #f0e4a8;
  }
  .filled {
    color: #ffe358;
  }
  .main {
    margin-top: 0%;
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 38px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }