<p>sender-signin works!</p>
<div class="w-100" >
    <header class="d-none d-lg-block intro-header">
   
   
   
   
    <section class="view intro-2">
       <div class="full-bg-img mask">
         <div class=" flex-center">
           <div class="d-flex align-items-center content-height w-50">
             <div class="row flex-center w-100">
   
               <div class="col-lg-8 col-xl-8 "style="margin-right:10%">
                 
                   <mdb-card class="wow fadeInRight" data-wow-delay="0.3s" style="box-shadow: none;background-color: transparent">
                       <mdb-card-body>
                           <div *ngIf="!new" class="text-center">
                               <img src="assets/signin-icone-resto.png" class="mx-auto text-purple-custom">
                               <h4  class="modal-title w-100 font-weight-bold text-muli-bold-21 text-purple-darker2-custom">Se connecter</h4>
            
                             </div>
                             <div *ngIf="new" class="text-center">
                                 <img src="assets/signup-icone-resto.png" class="mx-auto">
                                 <h4   class="modal-title w-100 font-weight-bold ext-muli-bold-21 text-purple-darker2-custom">S'inscrire</h4>
              
                               </div>
   
   
     
    <div *ngIf="!new && signInForm" class="mx-3">
       <div *ngIf="message===6" class="alert alert-success mt-1" role="alert">
         Votre inscription est terminée. veuillez confirmer votre adresse Email. Si vous n’avez pas reçu l'email de confirmation :
         vérifiez dans votre dossier spam
         </div>
         <div *ngIf="message===4" class="alert alert-danger" role="alert">
           Votre compte n'est pas encore confirmé , vérifiez votre boite mail pour le confirmer
         </div>
           <div *ngIf="message===1" class="alert alert-danger mt-1" role="alert">
             Email ou mot de passe invalide
         </div> 
             <div class="md-form mb-5">
   
        <input type="email" id="defaultForm-email" [formControl]="getSignInFormEmail" class="form-control"
               mdbInput mdbValidate>
        <label for="defaultForm-email" class="text-muli-regular-14 text-gery-light-custom">Email</label>
        <mdb-error
          *ngIf="getSignInFormEmail.invalid && (getSignInFormEmail.dirty || getSignInFormEmail.touched)">
          Email invalide
        </mdb-error>
      
      </div>
   
      <div class="md-form mb-4">
        <input type="password" id="defaultForm-pass" [formControl]="getSignInFormPassword" class="form-control"
               mdbInput mdbValidate>
        <label for="defaultForm-pass" class="text-muli-regular-14 text-gery-light-custom">Mot de passe</label>
        <mdb-error
          *ngIf="getSignInFormPassword.invalid && (getSignInFormPassword.dirty || getSignInFormPassword.touched)">
          Mot de passe Obligatoire
        </mdb-error>
   
      </div>
   
   <div class="d-flex justify-content-center">
       <button [class.disabled]="signInForm.invalid" *ngIf="!new" (click)="signin()"  mdbBtn class="waves-light text-muli-semi-bold-14 btn-purplex2-custom" mdbWavesEffect>Se connecter</button>
                     
                       </div>
    </div>
   
   
    <div *ngIf="new && signUpForm"  class="mx-3">
     <div *ngIf="message===2" class="alert alert-danger mt-1" role="alert">
       Email existe Deja
   </div>
   <div *ngIf="message===3" class="alert alert-danger mt-1" role="alert">
     Email invalide, vérifiez votre addresse mail SVP
   </div>
   <div *ngIf="message===5" class="alert alert-danger mt-1" role="alert">
     votre inscription a echoué:
     vérifiez la piece jointe que vous avez inseré
     </div>   
           <!-- Default switch -->
              <!-- Default checked -->
   <!--    <div class="custom-control custom-switch text-center">
         <input type="checkbox" class="custom-control-input btn-purplex2-custom" id="customSwitch1" [formControl]="getSignupFormType"
          [checked]="getSignupFormType.value">
         <label class="custom-control-label text-muli-regular-14 text-gery-light-custom" for="customSwitch1">Restaurant</label>
      </div> -->
      <div *ngIf="!getSignupFormType.value" class="form-row">
         <div class="col">
            <div  class="md-form  mt-1 mb-4">
                <input required="!getSignupFormType.value" type="text" id="orangeForm-lastname" class="form-control" [formControl]="getSignupFormLastName"
                       mdbInput mdbValidate>
                <label for="orangeForm-name"  class="text-muli-regular-14 text-gery-light-custom">Votre Nom</label>
               
      
                <mdb-error *ngIf="getSignupFormLastName.invalid && (getSignupFormLastName.dirty || getSignupFormLastName.touched)">
                  Nom Obligatoire
                </mdb-error>
               
              </div>   </div>  </div>
              <div class="form-row">
                 <div class="col">  
      <div class="md-form  mt-1 mb-4">
        <input type="text" id="orangeForm-name" class="form-control" [formControl]="getSignupFormName"
               mdbInput mdbValidate>
        <label *ngIf="getSignupFormType.value"  class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-name">Nom du restaurant</label>
        <label *ngIf="!getSignupFormType.value"  class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-name">Prenom</label>
   
        <mdb-error *ngIf="getSignupFormName.invalid && (getSignupFormName.dirty || getSignupFormName.touched)">
          Nom Obligatoire
        </mdb-error>
       
      </div>
     </div>  </div>
     <div class="form-row">
        <div class="col">  
      <div class="md-form  mt-1 mb-4">
          <input type="text" id="address1" class="form-control" [formControl]="getSignupFormAddress"
                 mdbInput  (click)="Mapframe.show();" >
          <label   for="address1"  class="text-muli-regular-14 text-gery-light-custom red-text">Adresse du restaurant</label>
          <div *ngIf=" (getSignupFormAddress.dirty || getSignupFormAddress.touched)">
          <mdb-error
          *ngIf="newSender.coordinates===null">
         Adresse invalide 
        </mdb-error>
      </div>
         
        </div>
       </div>  </div>
       <div class="form-row">
          <div class="col">  
      <div class="md-form  mt-1 mb-4">
        <input type="email" id="orangeForm-email" class="form-control" [formControl]="getSignupFormEmail"
               mdbInput mdbValidate (focusout)="check()">
        <label for="orangeForm-email"  class="text-muli-regular-14 text-gery-light-custom">E-mail</label>
        <mdb-error
          *ngIf="getSignupFormEmail.invalid && (getSignupFormEmail.dirty || getSignupFormEmail.touched)">
          Email Invalide
        </mdb-error>
   
        
      </div>
     </div>  </div>
     <div class="form-row">
        <div class="col">  
      <div class="md-form  mt-1 mb-4">
        <input autocomplete="new-password" type="password" id="orangeForm-pass" class="form-control" [formControl]="getSignupFormPassword"
               mdbInput mdbValidate>
        <label for="orangeForm-pass"  class="text-muli-regular-14 text-gery-light-custom">Mot de passe</label>
        <mdb-error
          *ngIf="getSignupFormPassword.invalid && (getSignupFormPassword.dirty || getSignupFormPassword.touched)">
          Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre
        </mdb-error>
        
      </div>
     </div>  </div>
     <div class="form-row">
        <div class="col">  
     
      <div class="md-form form-group input-group  mt-1 mb-4">
         <input class="form-control text-muli-regular-14 text-gery-light-custom" type="text" required id="banner"  [formControl]="getSignupFormBanner"
         mdbInput mdbValidate placeholder="Logo du restaurant" disabled>
          <div class="input-group-append file-field">
            <div class="text-muli-regular-10 btn btn-grey-custom  mb-0  btn-sm float-left waves-effect waves-light">
               <span><mdb-icon fas icon="upload" size="2x"></mdb-icon></span>
               <input class="file" type="file" (change)="selectFile($event)">
            </div>
            
          </div>
          <mdb-error class="mt-2 mb-2"
            *ngIf="getSignupFormBanner.invalid && (getSignupFormBanner.dirty || getSignupFormBanner.touched)">
            Image  Obligatoire
          </mdb-error>
          
        </div>
       </div>  </div>
       <div class="form-row">
         <div class="col mt-3">
           <mdb-checkbox [default]="true" [(ngModel)]="checkbox">J'ai lu et accepté les Termes et conditions et <a target="_blank"  routerLink="/confidentiality"> la Politique de confidentialité</a></mdb-checkbox>
         </div>
       
       </div>
       
        <div class="d-flex justify-content-end">
   
           <button [class.disabled]="newSender.coordinates===null||signUpForm.invalid||message===3||checkbox===false" (click)="signup()" *ngIf="new"  mdbBtn class="waves-light btn-purplex2-custom text-muli-semi-bold-14" mdbWavesEffect>S'inscrire</button>
         </div>
    </div>
   
    
   
       <!--Footer-->
       <div *ngIf="!new" class="text-roboto-regular-14 mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Nouveau?
          <a (click)="new=true;signUpFormBuild()" class="text-purple-darker2-custom ml-1"> S'inscrire</a>
        </p>
      </div>
      <div *ngIf="new" class="d-flex justify-content-end  text-roboto-regular-14 mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end ">Deja inscrit?
          <a (click)="new=false;signInFormBuild()" class="text-purple-darker2-custom ml-1"> Se connecter</a>
        </p>
      </div>
   
     </mdb-card-body>
   </mdb-card>
   
   
   </div>
   </div>
   </div>
   </div>
   </div>
   </section>
   
   
   
   
   </header> 
   
   
   <div class="d-block d-lg-none"  >
       <img  style="width:100%" src="assets/sender-signin/banner.png">
       
       <div class="container">
       <div class="row">
   
           <div class="col-xs-12 col-sm-12 col-md-12 ">
             
               <mdb-card class="wow fadeInRight" data-wow-delay="0.3s" style="box-shadow: none;background-color: transparent">
                   <mdb-card-body>
                       <div *ngIf="!new" class="text-center">
                           <img src="assets/signin-icone-resto.png" class="mx-auto text-purple-custom">
                           <h4  class="modal-title w-100 font-weight-bold text-muli-bold-21 text-purple-darker2-custom">Se connecter</h4>
        
                         </div>
                         <div *ngIf="new" class="text-center">
                             <img src="assets/signup-icone-resto.png" class="mx-auto">
                             <h4   class="modal-title w-100 font-weight-bold ext-muli-bold-21 text-purple-darker2-custom">S'inscrire</h4>
          
                           </div>
   
   
   
   <div *ngIf="!new && signInForm" class="mx-3">
   <div *ngIf="message===6" class="alert alert-success mt-1" role="alert">
       Votre inscription est terminée. veuillez confirmer votre adresse Email. Si vous n’avez pas reçu l'email de confirmation :
   vérifiez dans votre dossier spam
     </div>
     <div *ngIf="message===4" class="alert alert-danger" role="alert">
         Votre compte n'est pas encore confirmé , vérifiez votre boite mail pour le confirmer
       </div>
       <div *ngIf="message===1" class="alert alert-danger mt-1" role="alert">
         Email ou mot de passe invalide
     </div> 
   <div class="md-form mb-5">
   
    <input type="email" id="defaultForm-email2" [formControl]="getSignInFormEmail" class="form-control"
           mdbInput mdbValidate>
    <label for="defaultForm-email2" class="text-muli-regular-14 text-gery-light-custom">Email</label>
    <mdb-error
      *ngIf="getSignInFormEmail.invalid && (getSignInFormEmail.dirty || getSignInFormEmail.touched)">
      Email invalide
    </mdb-error>
   
   </div>
   
   <div class="md-form mb-4">
    <input type="password" id="defaultForm-pass2" [formControl]="getSignInFormPassword" class="form-control"
           mdbInput mdbValidate>
    <label for="defaultForm-pass2" class="text-muli-regular-14 text-gery-light-custom">Mot de passe</label>
    <mdb-error
      *ngIf="getSignInFormPassword.invalid && (getSignInFormPassword.dirty || getSignInFormPassword.touched)">
      Mot de passe Obligatoire
    </mdb-error>
   
   </div>
   
   <div class="d-flex justify-content-center">
   <button [class.disabled]="signInForm.invalid" *ngIf="!new" (click)="signin()"  mdbBtn class="waves-light text-muli-semi-bold-14 btn-purplex2-custom" mdbWavesEffect>Se connecter</button>
                 
                   </div>
   </div>
   
   
   <div *ngIf="new && signUpForm"  class="mx-3">
     <div *ngIf="message===2" class="alert alert-danger mt-1" role="alert">
       Email existe Deja
   </div>
   <div *ngIf="message===3" class="alert alert-danger mt-1" role="alert">
     Email invalide, vérifiez votre addresse mail SVP
   </div>
   <div *ngIf="message===5" class="alert alert-danger mt-1" role="alert">
     votre inscription a echoué:
     vérifiez la piece jointe que vous avez inseré
     </div> 
   <div *ngIf="!getSignupFormType.value" class="form-row">
     <div class="col">
        <div  class="md-form  mt-1 mb-4">
            <input required="!getSignupFormType.value" type="text" id="orangeForm-lastname2" class="form-control" [formControl]="getSignupFormLastName"
                   mdbInput mdbValidate>
            <label for="orangeForm-lastname2"  class="text-muli-regular-14 text-gery-light-custom">Votre Nom</label>
           
   
            <mdb-error *ngIf="getSignupFormLastName.invalid && (getSignupFormLastName.dirty || getSignupFormLastName.touched)">
              Nom Obligatoire
            </mdb-error>
           
          </div>   </div>  </div>
          <div class="form-row">
             <div class="col">  
   <div class="md-form  mt-1 mb-4">
    <input type="text" id="orangeForm-name2" class="form-control" [formControl]="getSignupFormName"
           mdbInput mdbValidate>
    <label *ngIf="getSignupFormType.value"  class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-name2">Nom du restaurant</label>
    <label *ngIf="!getSignupFormType.value"  class="text-muli-regular-14 text-gery-light-custom" for="orangeForm-name2">Prenom</label>
   
    <mdb-error *ngIf="getSignupFormName.invalid && (getSignupFormName.dirty || getSignupFormName.touched)">
      Champ Obligatoire
    </mdb-error>
   
   </div>
   </div>  </div>
   <div class="form-row">
    <div class="col">  
   <div class="md-form  mt-1 mb-4">
      <input type="text" id="address2" class="form-control" [formControl]="getSignupFormAddress"
             mdbInput  (click)="Mapframe.show();">
      <label  for="address2"  class="text-muli-regular-14 text-gery-light-custom">Adresse du restaurant</label>
      <div *ngIf=" (getSignupFormAddress.dirty || getSignupFormAddress.touched)">
       <mdb-error
       *ngIf="newSender.coordinates===null">
      Adresse invalide 
     </mdb-error>
   </div>
     
    </div>
   </div>  </div>
   <div class="form-row">
      <div class="col">  
   <div class="md-form  mt-1 mb-4">
    <input type="email" id="orangeForm-email2" class="form-control" [formControl]="getSignupFormEmail"
           mdbInput mdbValidate (focusout)="check()">
    <label for="orangeForm-email2"  class="text-muli-regular-14 text-gery-light-custom">E-mail</label>
    <mdb-error
      *ngIf="getSignupFormEmail.invalid && (getSignupFormEmail.dirty || getSignupFormEmail.touched)">
      Email Invalide
    </mdb-error>
   
    
   </div>
   </div>  </div>
   <div class="form-row">
    <div class="col">  
   <div class="md-form  mt-1 mb-4">
    <input autocomplete="new-password" type="password" id="orangeForm-pass2" class="form-control" [formControl]="getSignupFormPassword"
           mdbInput mdbValidate>
    <label for="orangeForm-pass2"  class="text-muli-regular-14 text-gery-light-custom">Mot de passe</label>
    <mdb-error
      *ngIf="getSignupFormPassword.invalid && (getSignupFormPassword.dirty || getSignupFormPassword.touched)">
      Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre
    </mdb-error>
    
   </div>
   </div>  </div>
   <div class="form-row">
    <div class="col">  
   
   <div class="md-form form-group input-group  mt-1 mb-4">
     <input class="form-control" type="text" required id="banner2"  [formControl]="getSignupFormBanner" placeholder="Logo du restaurant"
     mdbInput mdbValidate disabled>
      <div class="input-group-append file-field">
        <div class="text-muli-regular-10 btn btn-grey-custom  mb-0  btn-sm float-left waves-effect waves-light">
           <span><mdb-icon fas icon="upload" size="2x"></mdb-icon></span>
           <input class="file" type="file" (change)="selectFile($event)">
        </div>
        
      </div>
      <mdb-error class="mt-2 mb-2"
        *ngIf="getSignupFormBanner.invalid && (getSignupFormBanner.dirty || getSignupFormBanner.touched)">
        Image  Obligatoire
      </mdb-error>
      
    </div>
   </div>  </div>
   <div class="form-row">
     <div class="col mt-3">
       <mdb-checkbox [default]="true" [(ngModel)]="checkbox">J'ai lu et accepté les Termes et conditions et <a target="_blank"  routerLink="/confidentiality"> la Politique de confidentialité</a></mdb-checkbox>
     </div>
   
   </div>
   
    <div class="d-flex justify-content-end">
   
       <button [class.disabled]="newSender.coordinates===null||signUpForm.invalid||message===3||checkbox===false" (click)="signup()" *ngIf="new"  mdbBtn class="waves-light btn-purplex2-custom text-muli-semi-bold-14" mdbWavesEffect>S'inscrire</button>
     </div>
   </div>
   <!--Footer-->
   <div *ngIf="!new" class="text-roboto-regular-14 mx-5 pt-3 mb-1">
    <p class="font-small grey-text d-flex justify-content-end">Nouveau?
      <a (click)="new=true;signUpFormBuild()" class="text-purple-darker2-custom ml-1"> S'inscrire</a>
    </p>
   </div>
   <div *ngIf="new" class="d-flex justify-content-end  text-roboto-regular-14 mx-5 pt-3 mb-1">
    <p class="font-small grey-text d-flex justify-content-end ">Deja inscrit?
      <a (click)="new=false;signInFormBuild()" class="text-purple-darker2-custom ml-1"> Se connecter</a>
    </p>
   </div>
   
   </mdb-card-body>
   </mdb-card>
   
   
   </div>
   </div>
   </div>
      </div>
     
      <div mdbModal #Mapframe="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
   <div class="modal-content">
   <div class="modal-header text-center">
   <h4 class="modal-title w-100 font-weight-bold text-muli-bold-24 text-gery-darker-custom">Adresses</h4>
   <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Mapframe.hide()">
   <span aria-hidden="true">&times;</span>
   </button>
   </div>
   <div class="modal-body mx-3">
   <input #address="ngModel"  type="text" required mdbInput [(ngModel)]="newSender.address" name="address" id="address" 
   class="text-muli-regular-14 form-control mb-4 text-gery-light-custom" placeholder="Addresse du Restaurant" (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off"   #search>
   <app-google   [parent]="this" ></app-google>
   
   </div>
   <div class="modal-footer d-flex justify-content-center mb-2 mt-2">
   <button (click)="Mapframe.hide();setAddress()" mdbBtn class="waves-light btn-purplex2-custom text-muli-bold-18" mdbWavesEffect>Fermer</button>
   </div>
   </div>
   </div>
   </div> 
   </div>
   